<!doctype html>
<html>
  <head>
    <title>PageVault</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='firstpge.css') }}"
    />
  </head>

  <body>
    <header class="navbar">
      <h2 class="logo">PageVault</h2>
      <a href="{{ url_for('try_page') }}" class="nav-btn">Try Now</a>
    </header>

    <section class="hero">
      <h1 class="hero-title">
        MY <br />
        FLIPBOOK <br />
        MAKER
      </h1>

      <p>
        <b>
          Create interactive flipbooks from your PDFs in seconds.<br />
          Upload documents, convert them automatically, and read them with a
          smooth<br />
          page-flip effect directly in your browser.
        </b>
      </p>
    </section>

    <section id="definition">
      <h1>What is a Flipbook?</h1>
      <p>
        A flipbook is an interactive online publication that simulates the
        experience of a physical book with realistic page-turning animations.
        Flipbooks can include interactive elements such as embedded videos,
        clickable links, animations, and slideshows. They are easy to share
        through a direct link and provide a more engaging reading experience
        than a traditional PDF.
      </p>
    </section>
    <footer>
      <h3>PageVault</h3>
      <div class="footer-links">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/blog">Blog</a>
        <a href="/help">Help</a>
      </div>
    </footer>
  </body>
</html>
